<!DOCTYPE html>
<html ng-app="pagination-example">
    <head>
        <!-- css -->
        <link rel="stylesheet" href="css/bootstrap.min.css" />
        <title>angular-pagination</title>
        <style>
            .header {
                height: 100px;
            }
            .pagination:hover{
                cursor: pointer
            }
            .table{
                width: 400px;
            }
            .panel-info {
                font-family: 'Noto serif', serif;
                font-size: 2.0rem;
                text-align: center;
            }
            input[type="number"]{
                width: 50px;
            }
            input[type="text"]{
                width: 150px;
            }
        </style>
    </head>
    <body>
        <div ng-controller="MainController">
            <h3 class="header">Pagination Controlled with a button<hr></h3> 
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-md-5">
                        <div class="row"><h4>Test the directive below</h4></div>
                        <div class="row panel panel-info">
                            <div class="row">&lt;button create-pages</div>
                            <div class="row">number-per-page=<input type="number" ng-model="interactiveNpp"/></div>
                            <div class="row">binding=<input type="text" ng-model="interactiveBinding" typeahead="binding for binding in bindings | filter:$viewValue | limitTo:8"/></div>
                            <div class="row">&nbsp;&gt;</div>
                        </div>
                        <!-- dblclick -->
                        <button ng-show="interactiveBinding === 'dblclick'" class="col-lg-offset-3 col-md-offset-3 btn btn-primary btn-lg" create-pages results="results" number-per-page="{{interactiveNpp}}" ng-dblclick="getResults();showPaginate=true" pages="pages" page-content="pageContent" page-limit=15 binding="dblclick">Paginate!</button>
                        <!-- click -->
                        <button ng-show="interactiveBinding === 'click'" class="col-lg-offset-3 col-md-offset-3 btn btn-primary btn-lg" create-pages results="results" number-per-page="{{interactiveNpp}}" ng-click="getResults();showPaginate=true" pages="pages" page-content="pageContent" page-limit=15 binding="click">Paginate!</button>
                        <!-- blur -->
                        <button ng-show="interactiveBinding === 'blur'" class="col-lg-offset-3 col-md-offset-3 btn btn-primary btn-lg" create-pages results="results" number-per-page="{{interactiveNpp}}" ng-blur="getResults();showPaginate=true" pages="pages" page-content="pageContent" page-limit=15 binding="blur">Paginate!</button>
                        <!-- change -->
                        <input placeholder="paginate" ng-model="changePaginate" ng-show="interactiveBinding === 'change'" class="col-lg-offset-3 col-md-offset-3 btn btn-primary btn-lg" create-pages results="results" number-per-page="{{interactiveNpp}}" ng-change="getResults();showPaginate=true" pages="pages" page-content="pageContent" page-limit=15 binding="change" />
                        <!-- focus -->
                        <button ng-show="interactiveBinding === 'focus'" class="col-lg-offset-3 col-md-offset-3 btn btn-primary btn-lg" create-pages results="results" number-per-page="{{interactiveNpp}}" ng-focus="getResults();showPaginate=true" pages="pages" page-content="pageContent" page-limit=15 binding="focus">Paginate!</button>
                        <!-- keydown -->
                        <button ng-show="interactiveBinding === 'keydown'" class="col-lg-offset-3 col-md-offset-3 btn btn-primary btn-lg" create-pages results="results" number-per-page="{{interactiveNpp}}" ng-keydown="getResults();showPaginate=true" pages="pages" page-content="pageContent" page-limit=15 binding="keydown">Paginate!</button>
                        <!-- keyup -->
                        <button ng-show="interactiveBinding === 'keyup'" class="col-lg-offset-3 col-md-offset-3 btn btn-primary btn-lg" create-pages results="results" number-per-page="{{interactiveNpp}}" ng-keyup="getResults();showPaginate=true" pages="pages" page-content="pageContent" page-limit=15 binding="keyup">Paginate!</button>
                        <!-- keypress -->
                        <button ng-show="interactiveBinding === 'keypress'" class="col-lg-offset-3 col-md-offset-3 btn btn-primary btn-lg" create-pages results="results" number-per-page="{{interactiveNpp}}" ng-keypress="getResults();showPaginate=true" pages="pages" page-content="pageContent" page-limit=15 binding="keypress">Paginate!</button>
                        <!-- mousedown -->
                        <button ng-show="interactiveBinding === 'mousedown'" class="col-lg-offset-3 col-md-offset-3 btn btn-primary btn-lg" create-pages results="results" number-per-page="{{interactiveNpp}}" ng-mousedown="getResults();showPaginate=true" pages="pages" page-content="pageContent" page-limit=15 binding="mousedown">Paginate!</button>
                        <!-- mouseenter -->
                        <button ng-show="interactiveBinding === 'mouseenter'" class="col-lg-offset-3 col-md-offset-3 btn btn-primary btn-lg" create-pages results="results" number-per-page="{{interactiveNpp}}" ng-mouseenter="getResults();showPaginate=true" pages="pages" page-content="pageContent" page-limit=15 binding="mouseenter">Paginate!</button>
                        <!-- mouseleave -->
                        <button ng-show="interactiveBinding === 'mouseleave'" class="col-lg-offset-3 col-md-offset-3 btn btn-primary btn-lg" create-pages results="results" number-per-page="{{interactiveNpp}}" ng-mouseleave="getResults();showPaginate=true" pages="pages" page-content="pageContent" page-limit=15 binding="mouseleave">Paginate!</button>
                        <!-- mousemove -->
                        <button ng-show="interactiveBinding === 'mousemove'" class="col-lg-offset-3 col-md-offset-3 btn btn-primary btn-lg" create-pages results="results" number-per-page="{{interactiveNpp}}" ng-mousemove="getResults();showPaginate=true" pages="pages" page-content="pageContent" page-limit=15 binding="mousemove">Paginate!</button>
                        <!-- mouesover -->
                        <button ng-show="interactiveBinding === 'mouseover'" class="col-lg-offset-3 col-md-offset-3 btn btn-primary btn-lg" create-pages results="results" number-per-page="{{interactiveNpp}}" ng-mouseover="getResults();showPaginate=true" pages="pages" page-content="pageContent" page-limit=15 binding="mouseover">Paginate!</button>
                        <!-- mouseup -->
                        <button ng-show="interactiveBinding === 'mouseup'" class="col-lg-offset-3 col-md-offset-3 btn btn-primary btn-lg" create-pages results="results" number-per-page="{{interactiveNpp}}" ng-mouseup="getResults();showPaginate=true" pages="pages" page-content="pageContent" page-limit=15 binding="mouseup">Paginate!</button>

                        <!-- clear button -->
                        <button class="col-lg-offset-1 col-lg-3 col-md-offset-1 col-md-3 btn btn-info btn-lg" ng-click="changeDirective()">Clear</button>
                    </div>

                    <div class="col-lg-7 col-md-7" ng-controller="PaginationController">


                        <div ng-show="showPaginate">
                            <ul style="position: relative; top: 30px" class="pagination" >
                                
                                <li ng-class="{disabled: isFirstPage()}" pagination-left ><a>&laquo;</a></li>
                                
                                <li pagination ng-class="{active: page == getCurrentPage() }" page="{{page}}" ng-repeat="page in pages">
                                    <a>{{page}}</a>
                                </li>
                                
                                <li ng-class="{disabled: isLastPage()}" pagination-right ><a>&raquo;</a></li>
                            
                            </ul>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Player</th>
                                        <th>Goals</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="content in pageContent">
                                        <td>{{content.name}}</td>
                                        <td>{{content.goals}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- js -->
        <script type="text/javascript" src="lib/angular/angular.min.js"></script>
        <script type="text/javascript" src="js/app.js"></script>
        <script type="text/javascript" src="js/angular-paginate.js"></script>
        <script type="text/javascript" src="lib/ui-bootstrap-custom-tpls-0.10.0.min.js"></script>
    </body>
</html>
